bidict
blinker
click
dnspython
eventlet
Flask
flask-cors
Flask-JWT-Extended
Flask-SocketIO
greenlet
gunicorn
h11
iniconfig
itsdangerous
Jinja2
MarkupSafe
numpy
packaging
passlib
pillow
pluggy
pyarrow
PyJWT
pylance
pymongo
pytest
python-dotenv
python-engineio
python-socketio
qrcode
simple-websocket
Werkzeug
wsproto
